@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Navbar begins :- */

body {
    background-color: #F5F7FA;
}

.navbar {
    background-color: #F5F7FA;
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo {
    width: 104px;
    margin: 0 10px 0 10px;
}

.nav-link {
    color: black;
    font-weight: 500;
}

.nav-link:hover {
    color: green;
}

.loginBt {
    width: 90px;
    font-weight: 500;
}

#modalClose{
    position: relative;
    top: -51px;
    padding: 10px;
    border: none;
}

#modalClose:hover{
    background-color: #DC3545;
}

#modalClose i{
    font-size: larger;
}

@media(width >=992px) {
    .search {
        width: 350px;
    }

    .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar li {
        margin: 0 5px 0 5px;
    }
    
    #custom-modal{
        width: 500px;
    }

    #modalClose{
        right: -420px;
    }
}


@media(width < 992px) {
    .navbar li, .navbar form {
        margin: 5px 0 5px 0;
    }

    .navbar form input {
        font-size: smaller;
    }

    #custom-modal{
        width: 300px;
    }

    #modalClose{
        right: -222px;
    }
}

/* Navbar ends :- */

/* Hero section begins */

.hero {
    background-image: url('./images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.recipeForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60.04px);
}

.recipeForm h1{
    color: #333;
}

.recipeForm button{
    font-size: larger;
}

.recipeForm input{
    width: 350px;
    margin: 25px;
    padding: 10px;
    font-size: large;
    outline: none;
    border: none;
    opacity: 0.7;
}

@media(width < 992px) {
    .recipeForm input{
        width: 310px;
    }
}

/* Hero section ends */